---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "29 Nov 2021 - Till Present",
    title: "CTO & Co-Founder, TangleLabs UG",
    description:
      "TangleLabs offers digital identity technology with an impact. Providing security and trust for users & businesses worldwide. TangleLabs has a long history working with public and private institutions along with tonnes of open source libraries to use :)",
    link: "https://tanglelabs.io",
  },
  {
    date: "7 Mar 2024 - Till Present",
    title: "CTO & Co-Founded, AuvoDigital OÜ",
    description:
      "AuvoDigital is the parent company for AuvoID, AuvoID is THE SaaS when comes to making your ID Solutions, it comes with a great Flow builder and extensions which make issuing credentials and working with signed data a piece of cake.",
      link: "https://auvo.io"
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
