---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Nov 2021 - Till Present",
    title: "Director - Engineering, TangleLabs",
    description:
      "Co-Founder and CTO for TangleLabs, offering digital identity technology with an impact. Providing security and trust for users & businesses worldwide. ",
    link: "https://tanglelabs.io",
  },
  {
    date: "Mar 2023 - Till Present",
    title: "Managing Director, CybTEKK",
    description:
      "A next-gen digital agency which specialises in crafting cutting-edge digital experiences",
      link: "https://cybtekk.com"
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
