---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Nov 2025 - Present",
    title: "CEO & Co-Founder, Ensombl",
    description:
      "Ensombl is a platform company creating systems that verify, assess, and protect digital interactions across hiring and logistics.",
      link: "https://ensombl.io"
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
